
<div style="background: #E0E0E0; height: 80px; padding: 5px;">
    <div style="float: left">
        <h1>Lion BOARD</h1>
    </div>
    <div style="float: right; padding: 10px;">
        Login
    </div>
</div>