<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">



    <title>LionBoard</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/jumbotron-narrow.css" rel="stylesheet">

    <!-- Custom CSS -->

    <link href="/css/posts.css" rel="stylesheet">
    <link href="/css/users.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/admin.css"/>

    <!-- java script Lib -->
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdn.jsdelivr.net/jquery.validation/1.14.0/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>

    <!-- include summernote css/js-->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.0/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.0/summernote.js"></script>

</head>
<body>


    <div class="container">

        <!-- View abc.vm is inserted here -->
        <!-- Noi dung View abc.vm se duoc tren tai day -->
        $screen_content

        <footer class="footer">
            <p>&copy; Lion KD4 2016</p>
        </footer>
    </div>



    <script type="text/javascript" src="/js/posts.js"></script>
    <script type="text/javascript" src="/js/loginAndRegist.js"></script>
    <script type="text/javascript" src="/js/addPost.js"></script>
    <script type="text/javascript" src="/js/editPost.js"></script>
    <script type="text/javascript" src="/js/replyPost.js"></script>
    <script type="text/javascript" src="/js/user.js"></script>
    <script type="text/javascript" src="/js/admin.js"></script>


</body>
</html>