<div id="admin-header" class="header">
    <a href="/index"><h3 class="text-muted">LIONBOARD - Admin Page</h3></a>
</div>
<ul class="nav nav-tabs">
    <li role="presentation"><a href="../admin/users">Users</a></li>
    <li role="presentation"><a href="../admin/posts">Posts</a></li>
    <li role="presentation"><a href="../admin/comments">Comments</a></li>
    <li role="presentation"><a href="../admin/postReports">PostReports</a></li>
    <li role="presentation" class="active"><a href="../admin/cmtReports">CmtReports</a></li>
    <form id="admin-nav-search" data-source='comments/reports' class="navbar-form navbar-right" role="search">
        <div class="form-group">
            <input type="text" class="form-control" name="search-keyword" placeholder="cmtId or Reporter">
        </div>
        <button type="submit" class="btn btn-default">검색</button>
    </form>
</ul>

<div class="row marketing">

    <div class="panel panel-default">
        <!-- Table -->
        <table class="table table-striped">
            <thead>
            <th width="9%">링크ID</th>
            <th width="50%">신고사유</th>
            <th width="11%">신고날짜</th>
            <th width="10%">신고자</th>
            <th width="20%">처리상태</th>
            </thead>
            <tbody id="admin-table-tbody">
                #foreach($cmtReport in $cmtReports)
                <tr>
                    <td><a href="/posts/$cmtReport.postId">$cmtReport.cmtId</a></td>
                    <td>$cmtReport.reason</td>
                    <td class="admin-tbody-date">$dateTool.format("short",$cmtReport.reportedAt)</td>
                    <td><a href="/users/$cmtReport.reporterId">$cmtReport.reporterId</a></td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                $cmtReport.processStatus
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation">
                                    <a class="change-cmt-report-status" data-reportId="$cmtReport.id" data-cmtId="$cmtReport.cmtId" data-status="N" role="menuitem" tabindex="-1" href="#">New</a>
                                </li>
                                <li role="presentation">
                                    <a class="change-cmt-report-status" data-reportId="$cmtReport.id" data-cmtId="$cmtReport.cmtId" data-status="P" role="menuitem" tabindex="-1" href="#">Pass</a>
                                </li>
                                <li role="presentation">
                                    <a class="change-cmt-report-status" data-reportId="$cmtReport.id" data-cmtId="$cmtReport.cmtId" data-status="C" role="menuitem" tabindex="-1" href="#">Complete</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                #end
            </tbody>
        </table>
    </div>
    <nav>
        <ul class="pagination">
            #set($sort = $paginations.get(0).sort)
            #if($paginations.size() > 4)
                #set( $previousPage = $paginations.get(0).offset-20)
                <li>
                    <a href="/admin/cmtReports?offset=$previousPage&sort=$sort" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            #end

            #foreach($pagination in $paginations)
                <li><a href="/admin/cmtReports?offset=$pagination.offset&sort=$sort">$pagination.page</a></li>
            #end

            #if($paginations.size() > 4)
                #set( $nextOffset = $paginations.get(4).offset+20)
                <li>
                    <a href="/admin/cmtReports?offset=$nextOffset&sort=$sort" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            #end
        </ul>
    </nav>

</div>