<div id="admin-header" class="header">
    <a href="/index"><h3 class="text-muted">LIONBOARD</h3></a>
</div>
<ul class="nav nav-tabs">
    <li role="presentation"><a href="../admin/users">Users</a></li>
    <li role="presentation" ><a href="../admin/posts">Posts</a></li>
    <li role="presentation" class="active"><a href="../admin/comments">Comments</a></li>
    <li role="presentation"><a href="../admin/reports">Report</a></li>
</ul>


<div class="row marketing">

    <div class="panel panel-default">
        <!-- Table -->
        <table class="table table-striped">
            <tr>
                <th width="10%">Post</th>
                <th width="30%">댓글</th>
                <th width="20%">작성자</th>
                <th width="20%">작성일</th>
                <th width="20%">상태</th>
            </tr>
            <tr>
                <td><a href="/posts/$postId">6</td>
                <td>안녕하세요~~ 큰 도움 되었습니다 감사합니다.</td>
                <td><a href="/users/$userId"></a></td>
                <td>16/01/20 15:30</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                            Service
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Block</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Leave</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td><a href="/posts/$postId">6</td>
                <td>안녕하세요~~ 큰 도움 되었습니다 감사합니다.</td>
                <td><a href="/users/$userId"></a></td>
                <td>16/01/20 15:30</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                            Service
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Block</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Leave</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td><a href="/posts/$postId">6</td>
                <td>안녕하세요~~ 큰 도움 되었습니다 감사합니다.</td>
                <td><a href="/users/$userId"></a></td>
                <td>16/01/20 15:30</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                            Service
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Block</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Leave</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td><a href="/posts/$postId">6</td>
                <td>안녕하세요~~ 큰 도움 되었습니다 감사합니다.</td>
                <td><a href="/users/$userId"></a></td>
                <td>16/01/20 15:30</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                            Service
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Block</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Leave</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <nav>
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>