<div class="header">
    <nav>
        <ul class="nav nav-pills pull-right">
            #if($!loginUserId)
                <li role="presentation"><a href="/users/$loginUserId">My Page</a></li>
                <li role="presentation"><a href="/signOut">Sign Out</a></li>
            #else
                <li role="presentation"><a href="/signup">Sign Up</a></li>
                <li role="presentation"><a href="/signIn">Sign In</a></li>
            #end
        </ul>
    </nav>
    <a href="/index"><h3 class="text-muted">LIONBOARD</h3></a>
</div>

<div class="panel panel-default edit-user-panel">
    <div class="panel-body">
        <div class="user-photo">
            <img src="$user.profileUrl" alt="user-profile"/>
        </div>
        <div class="user-info">
            <form id="edit-user">
                <input type="hidden" name="userId" value="$user.id">
            <div>
                <label for="updateProfile">프로필 이미지 수정</label>
                <input id="updateProfile" type="file" name="profileImage">
            </div>
            <div>
                #if($user.email.matches("^([A-Z|a-z|0-9](\.|_){0,1})+[A-Z|a-z|0-9]\@([A-Z|a-z|0-9])+((\.){0,1}[A-Z|a-z|0-9]){2}\.[a-z]{2,3}$"))
                    <input type="text" name="email" value="$user.email">
                #else
                    <input type="text" name="email" value="이메일을 입력하세요.">
                #end

            </div>
            <div>
                <input type="text" name="name" value="$user.name">
            </div>
            <div class="user-registeredAt"><h5>가입날짜:$dateTool.format("yyyy-M-d",$user.registeredAt)</h5></div>
            <button type="submit" class="btn btn-default">수정</button>
            <a href="/users/$user.id" class="btn btn-default">취소</a>
        </div>
    </div>
</div>

<div class="row marketing">
    <div class="col-md-12">
        <div class="page-header">
            <h4><small class="pull-right">$posts.size() posts</small> Posts </h4>
        </div>
        <div class="posts-list">
            #foreach($post in $posts)
                <div class="media">
                    <p class="pull-right"><small>$dateTool.format("short",$post.createdAt)</small></p>
                    <div class="media-body">
                        <a href="/posts/$post.postId">$post.title</a>
                    </div>
                </div>
            #end
        </div>
    </div>
</div>

<div class="row marketing">
    <div class="col-md-12">
        <div class="page-header">
            <h4><small class="pull-right">$comments.size() Comments</small> Comments </h4>
        </div>
        <div class="comments-list">
            #foreach($comment in $comments)
                <div class="media">
                    <p class="pull-right"><small>$dateTool.format("short",$comment.createdAt)</small></p>
                    <div class="media-body">
                        <a href="/posts/$comment.postId">$comment.contents</a>

                    </div>
                </div>
            #end
        </div>
    </div>
</div>