<div class="header">
    <nav>
        <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/users/$loginUserId">My page</a></li>
        </ul>
    </nav>
    <a href="/index"><h3 class="text-muted">LIONBOARD</h3></a>
</div>
<div class="panel panel-default">
    <form id="reply-form" method="post">
        <input type="hidden" name="userId" value="$loginUserId"/>
        <input type="hidden" name="depth" value="$basePost.depth"/>
        <input type="hidden" name="postNum" value="$basePost.postNum"/>
        <div class="form-group">
            <label for="postTitle">제목</label>
            <input type="text" class="form-control" id="postTitle" name="title" value="$basePost.title 의 답글">
        </div>
        <textarea id="contents" name="contents" class="ckeditor" rows="12" cols="50"></textarea>
        <div class="form-group">
            <label for="postFile">파일 업로드</label>
            <input type="file" id="postFile" name="uploadFile">
        </div>
        <button type="submit" class="btn btn-default">저장</button>
    </form>
</div>
