<!-- CSS For Lib -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<link href="/css/loginAndRegist.css" rel="stylesheet">
<!-- REGISTRATION FORM -->
<a href="/index"><h3 class="text-muted">LIONBOARD</h3></a>
<div class="text-center" style="padding:50px 0">
    <div class="logo">Sign In</div>
    <!-- Main Form -->
    <div class="login-form-1">
        <form id="login-form" class="text-left" action="/signInProcess" method="POST">
            #if($error eq 'bad_credentials')
                    <div class="login-form-main-message show error">Wrong login credentials!</div>
            #end
            <div class="main-login-form">
                <div class="login-group">
                    <div class="form-group">
                        <label for="lg_email" class="sr-only">email</label>
                        <input type="text" class="form-control" id="lg_email" name="email" placeholder="email">
                    </div>
                    <div class="form-group">
                        <label for="lg_password" class="sr-only">Password</label>
                        <input type="password" class="form-control" id="lg_password" name="password" placeholder="password">
                    </div>
                </div>
                <button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
            </div>
            <div class="etc-login-form">
                <a href="/auth/facebook"><div id="facebookBtn"></div></a>
                <a href="/auth/twitter"><div id="twitterBtn"></div></a>
                <a href="/auth/kakao"><div id="kakaoBtn"></div></a>
                <a href="/auth/daum"><div id="daumBtn"></div></a>
                <p>new User ?<a href="/signup">create new account.</a></p>
            </div>
        </form>
    </div>
    <!-- end:Main Form -->
</div>