<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property resource="log.properties" />
    <property resource="release.properties" />


    <!-- console로 log 남기기 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                ▶ %-5level %d{HH:mm:ss.SSS} [%thread] %logger[%method:%line] - %msg%n
            </pattern>
        </encoder>
    </appender>
    <appender name="consoleForLoginInterceptor" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                ▷ %-5level %d{HH:mm:ss} %logger[%method:%line] - %msg%n
            </pattern>
        </encoder>
    </appender>


    <appender name="fileForLoginInterceptor" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--<File>/Users/daum/LionProject/logs/lionboard.log</File>-->
        <!--<append>false</append>-->

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/lionboard_%d{yyyy-MM-dd-HH}.log</fileNamePattern>
            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>
                ▷ %-5level %d{HH:mm:ss} %logger[%method:%line] - %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="com.github.lionboard" level="debug">
        <appender-ref ref="console" />
        <appender-ref ref="fileForLoginInterceptor"/>
    </logger>

    <logger name="org.springframework" level="info" />
    <root level="info">
        <appender-ref ref="console" />
        <appender-ref ref="fileForLoginInterceptor"/>
    </root>

</configuration>